<main class="main">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <section class="section" *ngIf='!isLoading'>

    <div class="info-panel" *ngIf="ingredients.length ===  0">
      <div>
        <p class="">You have no ingredients in the system</p>
      </div>
    </div>
    <div class="info-panel">
      <div>
        <p class="inline-title">Create an Ingredient</p>
      </div>
      <div class="click-icon"><i class="fa fa-plus" [routerLink]="['/ingredients/create']"><a href=""></a></i></div>
    </div>

    <br>
    <div class="info-panel" *ngIf="ingredients.length > 0">
      <div>
        <p>Select an ingredient from the list below or use the search box to find one.</p>
      </div>
    </div>
    <div class="search-container" *ngIf="ingredients.length > 0">
      <form action="">
        <button class="click-icon fas fa-sync" (click)="refreshList()"><i></i></button>
        <input class="input-field" type="text" id="dish-input-text" #searchinput [(ngModel)]="searchTerm" name="search"
          placeholder="  search.....">
        <button class="click-icon fas fa-search" (click)="search(searchTerm)"></button>
      </form>
    </div>
    <div class="info-panel" *ngIf="ingredientCount ===  0">
      <div>
        <p>Your search return no results.</p>
        <button class="link-list-link blue" (click)="refreshList()"><i class="fas fa-sync"></i></button>
      </div>
    </div>
    <div class="link-list info-panel " *ngIf="linksList.length > 0">
      <button class="link-list-link blue" (click)="searchByFirstletter(link)" *ngFor="let link of linksList" id="{{ link }}">{{
        link }}</button>
    </div>

    <div class="info-panel" *ngIf="this.showRefresh">
      <button class="link-list-link blue" (click)="refreshList()"><i class="fas fa-sync"></i></button>
    </div>
    <!-- <select [(ngModel)]="selectedCat" (change)="filterByCat($event)">
      <option *ngFor="let category of categories;" [ngValue]='category'>{{category}}</option>
    </select> -->
    <div class="info-panel filter-panel">
      <mat-accordion class="example-headers-align" #accordion="matAccordion" [multi]="multi">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a>categories</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-title *ngFor="let category of categories;">
            <a (click)="filterByCat(category)">{{category}}</a>
          </mat-panel-title>
          <!-- <button *ngFor="let category of categories;" class="link-list-link blue" (click)="filterByCat(category)">{{category}}</button> -->
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a>suppliers</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-title *ngFor="let category of categories;">
            <a>{{category}}</a>
          </mat-panel-title>
          <!-- <button *ngFor="let category of categories;" class="link-list-link blue" (click)="filterByCat(category)">{{category}}</button> -->
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="ingredients.length > 0">
      <button class="button" *ngFor="let ingredient of ingredients; let i = index" [attr.data-index]="i" (click)="saveIngredientToLocal(ingredient)">
        <div>{{ ingredient.name }}</div>
        <!-- <i class="far fa fa-minus-circle white" (click)="onDelete(i)" aria-hidden="true"></i> -->
        <i class="far fa-arrow-alt-circle-right white"></i>
      </button>
    </div>
  </section>
</main>
