<div class="number__pad" cdkTrapFocus role="dialog">
  <div class="number__pad-read-out">{{ this.numberPad.numberString.join('') }}</div>
  <div class="number__pad-buttons">
    <button
      class="number__pad-button"
      *ngFor="let tile of tiles; let i = index"
      role="button"
      tabindex="{{i+1}}"
      (click)="updateReadOut(tile.text)"
      [style.background]="tile.color"
    >
      {{ tile.text }}
    </button>
  </div>
  <button
    cdkFocusRegionEnd
    role="button"
    class="number__pad-update-button"
    tabindex="14"
    mat-raised-button
    disabled
    #updateButton
    (click)="returnNumpadValue()"
  >
    Save
  </button>
</div>
