.help {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 20px;
  left: 20px;
}

.main {
  height: 100vh;
}
.section {
  margin-top: 10px;
  width: 95vw;
}

.form__node {
  width: 95vw;
  height: auto;
  margin: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form__node-label {
  margin-top: 10px;
  margin-bottom: 3px;
  text-align: left;
  width: 90vw;
}

.form__node-button {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: var(--blue);
}

.form__node-button:hover {
  cursor: pointer;
  background-color: var(--hover-green);
  color: black;
}
button {
  height: 100px;
  font-size: 2rem;
}

.form__node-input {
  display: flex;
}

.form__node-input > input.input-half-size,
.form__node-input > button.input-half-size {
  width: 260px;
  height: 50px;
}
.input,
select {
  width: 90vw;
  height: 50px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: var(--light-text);
  background-color: rgba(92, 91, 91, 0.3);
  background-image: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.input.input-half-size {
  background-color: rgba(92, 91, 91, 0.3);
  color: var(--light-text);
}

.input-half-size {
  height: 50px;
  flex: 1;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;

  background-image: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type='text'],
input[type='select'] {
  outline: none;
  padding: 10px 15px;
}

input[type='text']:focus,
input[type='select']:focus {
  box-shadow: 0 0 5px rgb(28, 28, 28);
  padding: 10px 15px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.dark-background {
  background-color: rgba(45, 44, 44, 0.3);
}

/* validation error classes  */
.ng-valid[required],
.ng-valid.required,
.ng-valid {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert-danger {
  text-align: right;
  margin: 5px 0px;
  color: dodgerBlue;
}

/* ipads and larger */
@media (min-width: 35rem) {
  .main {
    height: 100vh;
  }
  .section {
    margin-top: 100px;
    width: 600px;
  }

  .form__node {
    width: 550px;
  }

  .form__node-label {
    width: 520px;
  }

  .input {
    width: 520px;
  }
}
