<main class="main">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <section class="section" *ngIf='!isLoading'>
    <div class="info-panel">
        <h1>{{ dish.name }}</h1>
    </div>
    <div class="info-panel">
      <div>
        <p class="inline-title">Add an ingredient</p>
      </div>
      <div class="click-icon"><i class="fa fa-plus" [routerLink]="['/dish', this.id, 'ingredients', 'add']"><a href=""></a></i></div>
    </div>
    <button class="button" *ngFor="let ingredient of ingredients" [routerLink]="['/dish/', this.id, 'ingredient' , ingredient.name ]">
      <div>{{ ingredient.name }}</div>
      <i class="far fa-arrow-alt-circle-right white"></i>
    </button>
  </section>
</main>
