@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('./material-custom.css');
@import url('./font-awesome.css');
:root {
  /* backgrounds */

  --info-panel-dark-background: rgba(45, 44, 44, 0.3);
  --light-background: white;
  --dark-background: rgba(0, 0, 0, 0.913);
  --side-background-light: rgba(20, 20, 20, 0.9);

  /* colors */
  --blue: dodgerblue;
  --light-text: white;
  --title-text: #7289da;
  --dark-text: rgb(108, 106, 106);
  --error: rgb(255, 196, 0);
  --default-text-color: var(--dark-text);

  /* status colors */
  --complete: var(--blue);
  --incomplete: rgb(235, 57, 244);

  /* hover colors */
  --hover--blue: var(--blue);
  --hover-green: #c7e589;

  /*  text sizes */
  --large-text-size: 1.8rem;
  --medium-text-size: 1.5rem;
  --default-text-size: 1rem;
  --small-text-size: 0.8rem;
  --button-text-size-med: 1.3rem;
  --xlarge-icon: 3rem;
  --lge-icon: 2.3rem;
  --med-icon: 2rem;
  --sml-icon: 1rem;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-color: 1px solid var(--hover--blue);
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--default-text-size) !important;
  color: var(--dark-text);
  width: 100%;
  height: 100%;
}

/* placeholder text */
::placeholder {
  color: var(--dark-text);
  font-size: 1rem;
}

/* layout */

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.mat-spinner {
  margin-top: 100px;
}

.section {
  margin-top: 73px;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  color: var(--default-text-color);
  text-align: center;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.9);
}

/* links */
a {
  color: var(--blue);
  text-decoration: none;
}

a.main__nav-link {
  color: var(--light-text) !important;
}

a:hover,
.active {
  cursor: pointer;
  color: var(--hover--blue);
  text-decoration: none;
}
.link-list-link {
  cursor: pointer;
  background-color: transparent;
}

.link-list-link:hover {
  color: var(--hover--blue);
  background-color: var(--hover-background);
}

/* typography */

/* color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-text);
}

/* sizes */

h1 {
  font-size: calc(var(--large-text-size));
}

h2 {
  font-size: calc(var(--medium-text-size));
}

h3 {
  font-size: calc(var(--medium-text-size));
}

@media (min-width: 40rem) {
  h1 {
    font-size: var(--large-text-size);
  }

  h2 {
    font-size: var(--medium-text-size);
  }

  h3 {
    font-size: calc(var(--medium-text-size * 0.8));
  }
}
/* icon sizes */

.sml-icon {
  font-size: var(--sml-icon);
}

.med-icon {
  font-size: var(--med-icon);
}

.lge-icon {
  font-size: var(--lge-icon);
}

.xlarge-icon {
  font-size: var(--xlarge-icon);
}

/* UI elements */

input {
  width: 100%;
  color: white;
  border-color: black;
}

button,
.button {
  font-size: var(--button-text-size-med);
  color: var(--blue);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
  border-radius: 5px;
  background-color: var(--blue);
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: var(--hover--blue);
  color: black;
}

/* status elements */
.status-complete {
  color: var(--complete);
}

.status-incomplete {
  color: var(--incomplete);
}
