@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('./material-custom.css');
@import url('./font-awesome.css');
:root {
  --hover-green: #00ffbb;
  --info-panel-dark-background: rgba(45, 44, 44, 0.3);
  --hover-background: rgba(108, 105, 105, 1);
  --light-background: white;
  --dark-background: rgba(0, 0, 0, 0.913);
  --side-background-light: rgba(20, 20, 20, 0.9);
  /* colors */
  --blue: dodgerblue;
  --light-text: white;
  --title-text: #7289da;
  --dark-text: rgb(108, 106, 106);
  /*  text sizes */
  --h1-large-text: 1.8rem;
  --h2-medium-text: 1.5rem;
  --button-text-size-med: 1.3rem;
  --lge-icon: 2.3rem;
  --xlge-icon: 3rem;
  --medium-icon: 1.5rem;
  --red: red;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-color: 1px solid var(--hover-green);
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem !important;
  width: 100%;
  height: 100%;
}
/* placeholder text */
::placeholder {
  color: var(white);
  font-size: 1rem;
}

/* layout */

.main {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.section {
  margin: 20px 0px;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  color: var(--light-text);
  text-align: center;
}

/* links */
a {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
.active {
  cursor: pointer;
  color: var(--hover-green);
  text-decoration: none;
}
.link-list-link {
  cursor: pointer;
  background-color: transparent;
}

.link-list-link:hover {
  color: var(--hover-green);
  background-color: var(--hover-background);
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6,
.inline-title {
  color: var(--title-text);
}

.mat-icon-button {
  color: var(--blue);
}

.inline-title {
  font-size: var(--h1-large-text);
}

h1 {
  font-size: var(--h1-large-text);
}

/* UI elements */

input {
  width: 100%;
  color: white;
  border-color: black;
}

button,
.button {
  font-size: var(--button-text-size-med);
  color: var(--blue);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
  border-radius: 5px;
  background-color: var(--blue);
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: var(--hover-green);
  color: black;
}
