<main class="main contact">
  <section class="section" [class.edit-mode]="showEditTools">
    <div class="spinner"><mat-spinner *ngIf="isLoading"></mat-spinner></div>

    <div class="toolbar">
      <div>
        <a [routerLink]="['/suppliers/list']"><i class="fas fa-chevron-left med-icon"></i></a>
      </div>
      <div>
        <a (click)="toggleEditMode()" [class.visible]="showEditTools" [class.hidden]="!showEditTools">cancel</a>
      </div>
      <div><a (click)="toggleEditMode()" [class.visible]="!showEditTools" [class.hidden]="showEditTools">Edit</a></div>
    </div>

    <!-- page  title -->
    <div class="contact__badge">
      <div class="contact__badge-icon">
        <h1>{{ iconBadgeText }}</h1>
      </div>
      <div class="contact__badge-title">
        <h1>{{ supplier.supplier_name }}</h1>
      </div>
      <br /><br />
      <button
        mat-mini-fab
        class="delete"
        (click)="showDeleteAlert()"
        [class.visible]="showEditTools"
        [class.hidden]="!showEditTools"
      >
        <i class="fas fa-minus"></i>
      </button>
    </div>

    <!-- contact edit form / details -->
    <form [formGroup]="myForm" (ngSubmit)="onSubmitform()">
      <div class="list">
        <div class="list__item details">
          <mat-list>
            <!-- contact name -->
            <mat-list-item>
              <div class="list__item-name">contact name:</div>
              <div class="list__item-value" [class.visible]="!showEditTools" [class.hidden]="showEditTools">
                <div>{{ supplier.contact_name }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div
                class="list__item-input-toolbar-items"
                [class.visible]="showEditTools"
                [class.hidden]="!showEditTools"
              >
                <input
                  (change)="this.showConfirmControls = true; onUpdateSupplier('contact_name', contactNameInput.value)"
                  type="text"
                  #contactNameInput
                  formControlName="contactName"
                  value="{{ supplier.contact_name }}"
                />

                <mat-error *ngIf="contactName.invalid && contactName.touched" class="has-text-danger">
                  Your name does not look right
                </mat-error>
              </div>
            </mat-list-item>
            <mat-divider [class.visible]="!showEditTools" [class.hidden]="showEditTools"></mat-divider>

            <!-- contact number -->
            <mat-list-item>
              <div class="list__item-name">contact number:</div>
              <div class="list__item-value" [class.visible]="!showEditTools" [class.hidden]="showEditTools">
                <div>{{ supplier.contact_number }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div
                class="list__item-input-toolbar-items"
                [class.hidden]="!showEditTools"
                [class.visible]="showEditTools"
              >
                <input
                  (change)="
                    this.showConfirmControls = true; onUpdateSupplier('contact_number', contactNumberInput.value)
                  "
                  type="text"
                  #contactNumberInput
                  formControlName="contactNumber"
                  value="{{ supplier.contact_number }}"
                />

                <mat-error *ngIf="contactNumber.invalid && contactNumber.touched" class="has-text-danger">
                  Your number is invalid
                </mat-error>
              </div>
            </mat-list-item>
            <mat-divider [class.visible]="!showEditTools" [class.hidden]="showEditTools"></mat-divider>

            <!-- email address -->
            <mat-list-item>
              <div class="list__item-name">email address:</div>
              <div class="list__item-value" [class.visible]="!showEditTools" [class.hidden]="showEditTools">
                {{ supplier.contact_email }}
              </div>
            </mat-list-item>
            <mat-list-item>
              <div
                class="list__item-input-toolbar-items"
                [class.hidden]="!showEditTools"
                [class.visible]="showEditTools"
              >
                <input
                  type="text"
                  (change)="this.showConfirmControls = true; onUpdateSupplier('contact_email', contactEmail.value)"
                  #contactEmail
                  formControlName="email"
                  value="{{ supplier.contact_email }}"
                />

                <mat-error *ngIf="email.invalid && email.touched" class="has-text-danger">
                  Your email does not look right
                </mat-error>
              </div>
            </mat-list-item>
            <mat-divider [class.visible]="!showEditTools" [class.hidden]="showEditTools"></mat-divider>

            <!-- website -->
            <mat-list-item
              ><div class="list__item-name">Website:</div>
              <div class="list__item-value" [class.visible]="!showEditTools" [class.hidden]="showEditTools">
                <a href="http://{{ supplier.website }}" target="new">{{ supplier.website }}</a>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div
                class="list__item-input-toolbar-items"
                [class.hidden]="!showEditTools"
                [class.visible]="showEditTools"
              >
                <input
                  type="text"
                  (change)="this.showConfirmControls = true; onUpdateSupplier('website', websiteInputValue.value)"
                  #websiteInputValue
                  value="{{ supplier.website }}"
                />
              </div>
            </mat-list-item>
            <mat-divider [class.visible]="!showEditTools" [class.hidden]="showEditTools"></mat-divider>

            <!-- ingredient cat -->
            <mat-list-item
              ><div class="list__item-name">ingredient category:</div>

              <div class="list__item-value" [class.visible]="!showEditTools" [class.hidden]="showEditTools">
                {{ supplier.ingredient_cat }}
              </div>
            </mat-list-item>
            <mat-list-item>
              <div
                class="list__item-input-toolbar-items"
                [class.hidden]="!showEditTools"
                [class.visible]="showEditTools"
              >
                <input
                  type="text"
                  (change)="
                    this.showConfirmControls = true; onUpdateSupplier('ingredient_cat', ingredientCatInput.value)
                  "
                  #ingredientCatInput
                  value="{{ supplier.ingredient_cat }}"
                />
              </div>
            </mat-list-item>
            <mat-divider [class.visible]="!showEditTools" [class.hidden]="showEditTools"></mat-divider>
            <mat-action-row [class.visible]="showConfirmControls" [class.hidden]="!showConfirmControls">
              <mat-toolbar class="form-controls-toolbar">
                <mat-checkbox formControlName="agree" color="accent">Are these details correct?</mat-checkbox>
                <button mat-button [disabled]="myForm.invalid">save</button>
              </mat-toolbar>
            </mat-action-row>
          </mat-list>
        </div>
      </div>
    </form>
  </section>
</main>
<!-- <div class="list__item-edit-tools" [class.visible]="showEditTools" [class.hidden]="!showEditTools">
                <div
                  class="tool-item"
                  (click)="toggleInputVisibility('show_contact_name_input')"
                  [class.hidden]="show_contact_name_input"
                  [class.visible]="!show_contact_name_input"
                >
                  <i class="fas fa-pen sml-icon"></i>
                </div>
              </div> -->
