.section {
  width: 100%;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
}

.list__item {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.list__item > p {
  margin: 20px 0;
  text-align: left;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 2;
}

.input {
  width: 95%;
  margin: auto;
}

button {
  width: 100%;
}

@media (min-width: 40rem) {
  .list {
    height: 200px;
  }
  button {
    width: 20%;
    margin-right: 5%;
  }
}
