<header class="header" *ngIf="userIsAuthenticated">
  <mat-toolbar>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="(isHandset$ | async)"
      (click)="this.drawer.open()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="breadCrumbs">food-cost-io</span>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [ngClass]="{ visible: userIsAuthenticated, hidden: !userIsAuthenticated }"
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <!-- because if using a handset we close the drawer -->
    <mat-nav-list *ngIf="(isHandset$ | async)">
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        routerLinkActive="active"
        [routerLink]="['/home']"
        (click)="this.drawer.close()"
        >Home</a
      >

      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/dishes']"
        routerLinkActive="active"
        (click)="this.drawer.close()"
        >Dishes</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/ingredients/list']"
        routerLinkActive="active"
        (click)="this.drawer.close()"
        >Ingredients</a
      >

      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/menus/list']"
        routerLinkActive="active"
        (click)="this.drawer.close()"
        >Menus</a
      >
      <a
        class="main__nav-link"
        aria-label="suppliers page link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/suppliers/list']"
        routerLinkActive="active"
        (click)="this.drawer.close()"
        >Suppliers</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/logout']"
        (click)="onLogout(); this.drawer.close()"
        >Logout</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="!userIsAuthenticated"
        [routerLink]="['/login']"
        routerLinkActive="active"
        >Login</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="!userIsAuthenticated"
        [routerLink]="['/signup']"
        routerLinkActive="active"
        >Sign up</a
      >
    </mat-nav-list>
    <!-- using large screen we keep the side nav open -->
    <mat-nav-list *ngIf="!(isHandset$ | async) && userIsAuthenticated">
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        routerLinkActive="active"
        [routerLink]="['/home']"
        >Home</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/dishes']"
        routerLinkActive="active"
        >Dishes</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/ingredients/list']"
        routerLinkActive="active"
        >Ingredients</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/menus/list']"
        routerLinkActive="active"
        >Menus</a
      >
      <a
        class="main__nav-link"
        aria-label="suppliers page link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/suppliers/list']"
        routerLinkActive="active"
        >Suppliers</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="userIsAuthenticated"
        [routerLink]="['/logout']"
        (click)="onLogout()"
        >Logout</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="!userIsAuthenticated"
        [routerLink]="['/login']"
        routerLinkActive="active"
        >Login</a
      >
      <a
        class="main__nav-link"
        mat-list-item
        *ngIf="!userIsAuthenticated"
        [routerLink]="['/signup']"
        routerLinkActive="active"
        >Sign up</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!---->
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
