<!--  add an ingredient from a master list to the current dish ingredient list-->
<main class="main">
  <section class="section">
    <div class="info-panel" id="info-text">
      <div>
        <p>add ingredient from your list</p>
        <p>You will add some measurements later..</p>
      </div>
    </div>


    <button class="button" *ngFor="let ingredient of ingredientsList; let i = index" [attr.data-index]="i">
      <div>{{ ingredient.name }}</div>
      <i class="fa fa-plus" (click)="onAddIngredient(ingredient.name)"></i>
    </button>
  </section>
</main>
