
@import url(../shared.css);
:root {
    --title-offset : 90px;
}

.header > .header__page {
    position: absolute;
    left: calc(50vw - var(--title-offset));
    flex: 2;
}

.main > .section >  input {
    margin: 20px 0px;
    width: 95vw;
    height: 80px;
    font-size: 2rem;
    text-align: center;
}



.main > .section > .button {

    margin: 10px 0;
    width: 95vw;
    height: 80px;
    font-size: 2rem;

}

.main > .section >  .info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 95vw;
    margin: 20px;
    color: white;
    background-color: rgba(45, 44, 44, 0.3);
    box-shadow: 5px;
}

.main > .section > .info-panel > div > p {
    margin: 20px 20px;

}

.main > .section > .button > div  {
    margin-left: 20px;
}

.main > .section >  .action-button  {
    display: flex;
    justify-content: center;

}


/* ipads and larger */
@media (min-width: 40rem) {

    .section {
        margin-top: 100px;
        width: 30vw;
    }

    .main {
        height: 100vh;
    }

    .main > .section > .info-panel {
        height: 200px;
        width: 500px;
        border-radius: 0px;
    }
    .main > .section >  input {

        width: 500px;

    }
    .main > .section > .button {

        margin: 10px 0;
        width: 500px;
        height: 80px;

    }
}