.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  font-size: small;
  height: 50px;
  width: 100%;
  z-index: -1;
  color: var(--dark-text);
  background-color: white;
}
