@import url('../shared.css');

:root {
    --placeholder-dark-text-text: rgb(176, 175, 175);
}

/* placeholder text */
::placeholder {
    font-size: 1.3rem;
    color: var(--placeholder-dark-text-text);
}


.main > .section > .info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 95vw;
    height: 80px;
    background-color: var(--info-panel-dark-background);
}

.main > .section > input {
    margin: 20px 0px;
    width: 95vw;
    height: 80px;
    font-size: 2rem;
    padding-left: 10px;
    text-align: left;
}

.main > .section > .button {
    margin: 20px 0;
    width: 95vw;
    height: 80px;
}

.button > div.click-icon {
    margin-right: 20px;
}

.info-panel > div {
    margin-left: 20px;
}

.button > div  {
    margin-left: 20px;
}

.action-button  {
    display: flex;
    justify-content: center;
}


/* ipads and larger */
@media (min-width: 40rem) {

    body {
        font-size: 1rem;
    }

    .section {
        width: 30vw;
    }

    .main > .section > .button {
        width: 500px;
        font-size: 1.5rem;
    }

    .main > .section > .button > div  {
        margin-left: 20px;
    }

    .main > .section > input {
        margin: 20px 0px;
        width:  500px;
    }

    .main > .section > .info-panel {
        width:  500px;
        background-color: var(--info-panel-dark-background);
    }






}