<main class="main">
  <section class="section">
    <div class="spinner"><mat-spinner *ngIf="isLoading"></mat-spinner></div>
    <div class="toolbar">
      <div class="back-button">
        <a [routerLink]="['/dishes']"><i class="fas fa-chevron-left med-icon"></i></a>
      </div>
      <div class="main__title">
        <h1>Create Dish</h1>
        Enter a name for your dish. You will fill in the details afterwards.
      </div>
      <div class="spacer"></div>
    </div>

    <form class="create-form" [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
      <div class="list">
        <div class="list__item details">
          <mat-form-field>
            <input matInput placeholder="dish name" formControlName="dishName" autocomplete="off" />
            <mat-error *ngIf="name.invalid && name.touched" class="has-text-danger">
              Your name does not look right
            </mat-error>
          </mat-form-field>
          <mat-action-row *ngIf="myForm.status === 'VALID'">
            <mat-toolbar class="form-controls-toolbar">
              <mat-checkbox formControlName="agree" (change)="toggleSubmitDisabled()" color="accent"
                >Are these details correct?</mat-checkbox
              >
              <button mat-button #submitButton [disabled]="submitButtonDisabled">save</button>
            </mat-toolbar>
          </mat-action-row>
        </div>
      </div>
    </form>
  </section>
</main>
